{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>보유 갯수</th>
        </tr>
        </thead>
        <tbody>
        {% if book_list %}
        {% for book in book_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'SRRT_library:detail' book.isbn %}">{{ book.subject }}</a>
            </td>
            <td>{{ book.count }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">책이 등록되지 않았습니다. </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
