{% extends 'base.html' %}
{% block content %}
<div class="container-lg">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>반납 기한</th>
        </tr>
        </thead>
        <tbody>
        {% if checkout_log %}
        {% for log in checkout_log %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'SRRT_library:detail' log.book.isbn %}">{{ log.book.subject }}</a>
            </td>
            <td>{{ log.return_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3"> 대출한 책이 없습니다. </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}